body, input, textarea {
    background-color: black !important;
    color: white !important;
}
button {
    background-color: transparent !important;
    color: white !important;
}

.KV-D4 {
    color: white !important;
}

._9ezyW {
    background-color: black !important;
}
._6FEQj {
    background-color: #333 !important;
}
._8-yf5 {
    fill: white;
}
.N9abW, .zGtbP {
    background: black !important;
}

.DPiy6 { 
    background-color: black !important;
}

.-qQT3:hover {
    background-color: #333 !important;
}

.K3Sf1 {
    color: white !important;
}

.uzKWK, ._09ncq {
    background-color: black !important;
}

._0G-TY {
    color: white !important;
}

.Ppjfr {
    background-color: #333;
}

._4EzTm {
    background-color: black;
}

.eo2As { 
    background-color: black;
}
.zV_Nj { 
    color: white !important;
}

a, a:visited {
    color: #669CCF !important;
}

.afkep {
    background-color: #333 !important;
}
.KGiwt {
    background-color: #333;
}