div.e9_tN {
    max-width: 100%;
}
div._8_yLp, div.CMoMH {
    max-width: 100%;
}
div.ZyFrc > div {
    height: auto !important;
}
.Z_Gl2 {
    display: none;
}

/* get instagram banner on homepage */
section > div.MFkQJ {
    display: none;
}

/* cookie banner */
div.lOPC8.DPEif {
    display: none;
}

/* facebook footer */
div.O1flK._7JkPY.ybXk5 {
    display: none;
}
